<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cet325.bg69xx">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TicketsActivity"
            android:label="@string/title_activity_tickets" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MasterArtworksListActivity"
            android:label="@string/title_activity_master_artworks_list" />
        <activity
            android:name=".AddArtworkActivity"
            android:label="@string/title_activity_detailed_artwork_view" />
        <activity
            android:name=".DetailedArtworkActivity"
            android:label="@string/title_activity_detailed_artwork" />
        <activity
            android:name=".BaseFrameActivity"
            android:label="@string/title_activity_base" />
    </application>

</manifest>